@import url('https://fonts.googleapis.com/css?family=Rajdhani');

body{
    text-align: center;
    line-height: 24px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #777777;
    margin:0;

}
.custom-logo{
    position: relative;
}
.custom-logo img{
    width:40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  color: black;
}
.top img{
    margin-top:10px;
    width:200px;
}

.t1{
    background-color: #b30086;
    height:120px;
    animation-name: col1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}


.t2{
    background-color: #cc00cc;
    height:120px;
    animation-name: col2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.t3{
    background-color: #b800e6;
    height:120px;
    animation-name: col3;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
}
.t4{
    background-color: #cc0066;
    height:120px;
    animation-name: col4;
    animation-duration: 4.8s;
    animation-iteration-count: infinite;
}

@keyframes col1{
    50%{
        background-color: #ff99e6;
    }
    100%{
        background-color: #b30086 ;
    }
}

@keyframes col2{
    50%{
        background-color: #ffb3ff;
    }
    100%{
        background-color: #cc00cc ;
    }
}

@keyframes col3{
    50%{
        background-color: #ff99e6;
    }
    100%{
        background-color: #b800e6 ;
    }
}

@keyframes col4{
    50%{
        background-color: #bf80ff;
    }
    100%{
        background-color: #cc0066 ;
    }
}

* {
    box-sizing: border-box;
}

.cont{
    margin-top: 200px;
    margin-left: 12px;
    position:absolute;
    width:210px;
    height:350px;
    background: rgba(100, 65, 108, 0.0);
    transform: rotate(-30deg) skew(25deg) scale(.8);
    transition:0.5s;
}
.cont img {
    position: absolute;
    width: 100%;

}
.cont img:nth-child(4) {
    animation-name: hover1;
    transform: translate(120px,-120px);
    animation-duration: 9s;
    animation-iteration-count: infinite;
}
.cont img:nth-child(3) {
    animation-name: hover2;
    opacity: 0.7;
    transform: translate(80px,-80px);
    animation-duration: 9.4s;
    animation-iteration-count: infinite;
}
.cont img:nth-child(2) {
    animation-name: hover3;
    opacity: 0.4;
    transform: translate(40px,-40px);
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.cont img:nth-child(1) {
    animation-name: hover4;
    opacity: 0.1;
    transform: translate(0px,-0px);
    animation-duration: 9.7s;
    animation-iteration-count: infinite;
}

@keyframes hover1{

    50%{
    transform: translate(160px,-160px);
    opacity:1;
    }
    100%{
    transform: translate(120px,-120px);
    opacity:1;
    }
}
@keyframes hover2{

    50%{
    transform: translate(110px,-110px);
    opacity:0.7;
    }
    100%{
    transform: translate(80px,-80px);
    opacity:0.7;
    }
}
@keyframes hover3{

    50%{
    transform: translate(70px,-70px);
    opacity:0.4;
    }
    100%{
    transform: translate(40px,-40px);
    opacity:0.4;
    }
}
@keyframes hover4{

    50%{
    transform: translate(30px,-30px);
    opacity:0.1;
    }
    100%{
    transform: translate(0px,-0px);
    opacity:0.1;
    }
}

/*--------------------------------------------------------------------*/

.home-banner-area{
    background-size: contain;
    height: 700px;
    width:auto;

}
.banner-text{
    color:white;

}
.banner-text h1{
    margin-top:100px;
    font-size: 75px;
}
.banner-text p{
    color:white;
}
.banner-float{
    align-content: center;
}
.sha{
    position: relative;
}
/*--------------------------------------------------------------------*/

.features{
    align-items: center;
}

.heading{
    text-align: center;
}
.features h2{
    margin-top: 80px;
}
.feat p{
    margin-top: 30px;
    text-align:justify;
    font-size: 18px;

}
.feat{
    border: solid rgb(201, 201, 201) 1px;
    border-radius: 10px;
    box-shadow: 5px 10px 18px #888888;
    margin: 20px 0;
    color:white;
    height:400px;

}
/*--------------------------------------------------------------------*/


.portion{
    padding-top: 20px;
    padding-bottom: 40px;
    background: contain;
}
.monitor, .whyus{
    padding: 20px 0;
}
.monitor p, .whyus p{
    text-align: justify;
    width: 100%;
    color: rgb(255, 255, 255);
}
.monitor img, .whyus img{
    height: 350px;
}
/*--------------------------------------------------------------------*/
.contact_area{
    margin-top:40px;
}
.contact_info .info_item {
  position: relative;
  padding-left: 45px; }
.contact_info .info_item i {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600; }
.contact_info .info_item h6 {
    font-size: 16px;
    line-height: 24px;
    color: "Roboto", sans-serif;
    font-weight: bold;
    margin-bottom: 0px;
    color: #222222; }
.contact_info .info_item h6 a {
      color: #222222; }
.contact_info .info_item p {
    font-size: 14px;
    line-height: 24px;
    padding: 2px 0px; }

.contact_form .form-group {
     margin-bottom: 10px; }
.contact_form .form-group .form-control {
    font-size: 13px;
    line-height: 26px;
    color: #999;
    border: 1px solid #eeeeee;
    font-family: "Roboto", sans-serif;
    border-radius: 0px;
    padding-left: 20px; }
.contact_form .form-group .form-control:focus {
    box-shadow: none;
    outline: none; }
.contact_form .form-group .form-control.placeholder {
    color: #999; }
.contact_form .form-group .form-control:-moz-placeholder {
    color: #999; }
.contact_form .form-group .form-control::-moz-placeholder {
    color: #999; }
.contact_form .form-group .form-control::-webkit-input-placeholder {
    color: #999; }
.contact_form .form-group textarea {
    resize: none; }
.contact_form .form-group textarea.form-control {
    height: 134px; }
.contact_form .primary_btn {
    margin-top: 20px;
    cursor: pointer;
    border: none;
    background-image: linear-gradient(to right, #8252fa 0%, #eca2f1 100%), radial-gradient(circle at top left, #8252fa, #eca2f1);
    background-image: -webkit-linear-gradient(to right, #8252fa 0%, #eca2f1 100%), -webkit-radial-gradient(circle at top left, #8252fa, #eca2f1);
    background-image: -moz-linear-gradient(to right, #8252fa 0%, #eca2f1 100%), -moz-radial-gradient(circle at top left, #8252fa, #eca2f1);
    background-image: -ms-linear-gradient(to right, #8252fa 0%, #eca2f1 100%), -ms-radial-gradient(circle at top left, #8252fa, #eca2f1);
    background-image: -o-linear-gradient(to right, #8252fa 0%, #eca2f1 100%), -o-radial-gradient(circle at top left, #8252fa, #eca2f1);
    color: #fff;
    box-shadow: 0px 10px 30px rgba(130, 82, 250, 0.2);
    border: 2px solid transparent;
    padding: 0;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s; }
.contact_form .primary_btn:hover {
    border: double 2px transparent;
    border-radius: 5px;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #8252fa, #eca2f1);
    background-image: -webkit-linear-gradient(white, white), -webkit-radial-gradient(circle at top left, #8252fa, #eca2f1);
    background-image: -moz-linear-gradient(white, white), -moz-radial-gradient(circle at top left, #8252fa, #eca2f1);
    background-image: -ms-linear-gradient(white, white), -ms-radial-gradient(circle at top left, #8252fa, #eca2f1);
    background-image: -o-linear-gradient(white, white), -o-radial-gradient(circle at top left, #8252fa, #eca2f1);
    background-origin: border-box;
    background-clip: content-box, border-box;
    color: #222222; }

